<!DOCTYPE html>
<html lang="kr">
<head>
  <title>회원가입</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">

</head>
<body class="bg-body-tertiary">
<div class="container">
  <div class="row py-5">
    <div class="col"></div>
    <form method="get" action="/admin/adminRegisterComplete" class="col-7">
      <div class="row">
        <div class="col-auto pe-0 fw-bold">
          ShopZone
        </div>
      </div>
      <div class="row pb-4" style="align-items: baseline;">
        <div class="col pe-0 fs-2">
          관리자 등록
        </div>
        <div class="col-auto text-primary fw-bold">
          <span class="border-bottom border-2 border-primary">정보 입력</span>
        </div>
      </div>

      <div class="row pb-3">
        <div class="col px-4 border bg-white">
          <div class="row py-3 border-bottom">
            <div class="col fw-bold">
              관리자 정보 입력
            </div>
          </div>
          <div class="row pt-4">
            <div class="col">
              <div class="row pb-4 align-items-center">
                <div class="col-3">
                  아이디
                </div>
                <div class="col position-ralative">
                  <input name="account_id" type="text" class="form-control" placeholder="아이디">
                </div>
              </div>
              <div class="row pb-4 align-items-center">
                <div class="col-3">
                  비밀번호
                </div>
                <div class="col">
                  <input name="account_pw" type="password" class="form-control" placeholder="비밀번호">
                </div>
              </div>

              <!-- 대표 전화번호 -->
              <!--<div class="row pb-4 align-items-center">
                  <div class="col-3">
                      대표 전화번호
                  </div>
                  <div class="col">
                      <input type="text" name="phone" class="form-control" placeholder="전화번호">
                  </div>
              </div>-->

              <!-- 사업자 등록번호 -->
              <!--                            <div class="row pb-4 align-items-center">
                                              <div class="col-3">
                                                  사업자 등록번호
                                              </div>
                                              <div class="col">
                                                  <input type="text" name="" class="form-control" placeholder="사업자등록번호(-없이 입력)">
                                              </div>
                                          </div>
                                           사업자 주소
                                          <div class="row pb-4 align-items-center">
                                              <div class="col">
                                                  <div class="row pb-2 align-items-center">
                                                      <div class="col-3">
                                                          사업자 주소
                                                      </div>
                                                      <div class="col pe-0">
                                                          <input type="text" class="form-control bg-white" name="postcode" placeholder="우편번호">
                                                      </div>
                                                      <div class="col-auto">
                                                          <input type="button" id="postcodeButton" class="form-control" onclick="execDaumPostcode()" value="우편번호 찾기">
                                                      </div>
                                                  </div>
                                                  <div class="row pb-2">
                                                      <div class="col-3"></div>
                                                      <div class="col">
                                                          <input type="text" name="address" class="form-control bg-white" id="address" placeholder="주소">
                                                      </div>
                                                  </div>
                                                  <div class="row">
                                                      <div class="col-3"></div>
                                                      <div class="col">
                                                          <input type="text" name="detail_address" class="form-control" id="detailAddress" placeholder="상세주소">
                                                      </div>
                                                  </div>
                                              </div>
                                          </div>-->

              <!--<div class="row pb-4 align-items-center">
                  <div class="col">
                      <div class="row pb-2 align-items-center">
                          <div class="col-3">
                              정산 계좌
                          </div>
                          <div class="col pe-0">
                              <select class="form-control" name="bank_name">
                                  <option value="selectPlease">
                                      은행선택
                                  </option>
                                  <option value="국민은행">
                                      국민은행
                                  </option>
                                  <option value="기업은행">
                                      기업은행
                                  </option>
                                  <option value="농협">
                                      농협
                                  </option>
                                  <option value="신한은행">
                                      신한은행
                                  </option>
                                  <option value="우리은행">
                                      우리은행
                                  </option>
                                  <option value="SC제일은행">
                                      SC제일은행
                                  </option>
                                  <option value="KEB하나은행">
                                      KEB하나은행
                                  </option>
                              </select>
                          </div>
                          <div class="col"></div>
                      </div>
                      <div class="row pb-2">
                          <div class="col-3"></div>
                          <div class="col pe-0">
                              <input type="text" class="form-control" name="account_holder" id="account_holder" placeholder="예금주명">
                          </div>
                          <div class="col">
                              <input type="text" class="form-control" name="account_number" id="account_number" placeholder="계좌번호 (-없이 입력)">
                          </div>
                      </div>
                  </div>
              </div>-->
            </div>
          </div>
        </div>
      </div>
      <!-- 뒤로가기 & 신청완료 -->
      <div class="row pb-5">
        <div class="col"></div>
        <div class="col-2 pe-0 d-grid">
          <a href="/admin" class="btn border bg-white py-2 rounded-0">
            처음으로
          </a>
        </div>
        <div class="col-3 pe-0 d-grid">
          <input type="submit" value="가입신청완료" class="btn btn-primary py-2 rounded-0">
        </div>
        <div class="col"></div>
      </div>
      <!-- 끝말 -->
      <div class="row text-center">
        <div class="col f08 text-secondary">
          <span class="fw-bold">ShopZone</span> copyright ⓒ ShopZone Corp. All rights reserved.
        </div>
      </div>
    </form>
    <div class="col"></div>
  </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"></script>
</body>
</html>